ion-content{
    --padding-top: 0px;
}
.logo{
    background: rgb(247, 247, 247);
    text-align: center;
    ion-img{
        width: 50%;
        margin: auto;
        margin-block-start: 25px;
        margin-block-end: 15px;
    }
    ion-label{
        margin-top: 15px;
        color: rgb(216, 113, 81);
    }
}
.wlcMsg{
    ion-label{
        color: #b98f9f;
        font-size: 12px;
        margin-inline-start: 15px;
    }
}
.fields{
    margin-top: 10px;
    ion-row{
        margin-top: 20px;
        .colLabel{
            border-bottom: 1px solid #ccc !important;
            // background: rgb(247, 247, 247);
        }
    }
}
ion-button{
    margin: auto;
    --background: rgb(216, 113, 81);
    display: flex;
    width: 50%;
    margin-block: 15px;
}
ion-label{
    font-size: 12px;
}
.asstr{
    vertical-align: super;
    color: red;
}